<% if signed_in? %>
<div class = "hero-unit">
  <h1>Store Details</h1>
  <br>
  <div class="row">   
  <div class="table-responsive">
  <table class="table table-hover">
  <tr>
    <td>Company Name</td>
    <td><%= current_user.store.name %></td>   
  </tr>
  <tr>
    <td>Address</td>
    <td><%= current_user.store.address %></td>   
  </tr>
  <tr>
    <td>Registration No.</td>
    <td><%= current_user.store.regno %></td>   
  </tr>
  <tr>
    <td>Vat No.</td>
    <td><%= current_user.store.vatno %></td>
  </tr>
  <tr>
    <td>Opening Times</td>
    <td><%= current_user.store.opening %></td>
  </tr>
    <tr>
    <td>Latitude</td>
    <td><%= current_user.store.latitude %></td>
  </tr>
    <tr>
    <td>Longitude</td>
    <td><%= current_user.store.longitude %></td>
  </tr>
</table>
</div>
        <aside class="span4">
      </div> 
</div> 
    <% else %>
<%=image_tag "logoalt.jpg"%>
<div id="this-carousel-id" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "gallery/01.jpg" %>
      <div class="carousel-caption">
        <p>NearBuy Android Application</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "gallery/02.jpg" %>
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "gallery/03.jpg" %>
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "gallery/0.jpg" %>
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div>
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>
      <div class="center hero-unit">
        <h1>Welcome to NearBuy</h1>

        <h2>
          If you are a business looking to connect with more customers quickly and easily, visit our about page or sign up with us!
        </h2>

        <%= link_to "Sign up now!", signup_path, 
                                    class: "btn btn-large btn-danger" %>
      </div>
    <% end %> 