 <% provide(:title, @user.name) %>
 <div class = "hero-unit">
    <div class="row">
      <aside class="span4">
        <section>
          <h1>
            <%= @user.name %>
          </h1>
        </section>
      </aside>
      <header class="navbar navbar-static navbar-default">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Store Details", "#" %></li>
              <li><%= link_to "Add/Edit Products", "#" %></li>
              <li><%= link_to "Orders", "#" %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
      <div class="hero-unit">
        <% if @user.store.blank? %>
          <section>
            <%= render 'shared/store_form' %>
          </section>
          <% else %>
  <div class="table-responsive">
  <table class="table table-hover">
  <tr>
    <td>Company Name*</td>
    <td><%= best_in_place current_user.store, :name %></td>  
  </tr>
  <tr>
    <td>Address*</td>
    <td><%= best_in_place current_user.store, :address%></td>  
  </tr>
  <tr>
    <td>Registration No.</td>
    <td><%= current_user.store.regno %></td>   
  </tr>
  <tr>
    <td>Vat No.</td>
    <td><%= current_user.store.vatno %></td>
  </tr>
  <tr>
    <td>Opening Times*</td>
    <td><%= best_in_place current_user.store, :opening %></td>
  </tr>
    <tr>
    <td>Latitude</td>
    <td><%= current_user.store.latitude %></td>
  </tr>
    <tr>
    <td>Longitude</td>
    <td><%= current_user.store.longitude %></td>
  </tr>
</table>
<p>*Click on Text you wish to change in these fields, press enter to commit changes. Locational data will be updated on next page load</p>
</div>
<% end %>
      </div>
    </div> 
  </div>