 <% provide(:title, @user.name) %>
 <div class = "center hero-unit">
    <div class="row">
      <aside class="span4">
        <section>
          <h1>
            <%= @user.name %>
          </h1>
        </section>
      </aside>
      <header class="navbar navbar-static navbar-default">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Store Details", "#" %></li>
              <li><%= link_to "Add/Edit Products", "#" %></li>
              <li><%= link_to "Orders", "#" %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
      <div class="left hero-unit">
          <section>
            <%= render 'shared/store_form' %>
          </section>
      </div>
    </div> 
  </div>