<%= form_for(Store.new) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
      <%= f.label :name, "Company Name" %>
          <%= f.text_field :name %>

          <%= f.label :address, "Address" %>
          <%= f.text_field :address %>
          
          <%= f.label :regno, "Registration No." %>
          <%= f.text_field :regno %>

          <%= f.label :vatno, "Vat No." %>
          <%= f.text_field :vatno %>

          <%= f.label :opening, "Opening Times" %>
          <%= f.text_field :opening %>

          <%= f.submit "Save Store Details", class: "btn btn-large btn-danger" %>
        <% end %>
</div>